//Variables


//body variables

$color-fondo:#020202;
$color-default:#999;
$color-header-folder:#999;
$color-folder:#4682B0;
$color-sh:blue;
$color-ln:#00F6FF;
$color-host:#FFF;
$color-peso:#CD00CD;
$fuente-bold:bold;
$color-bienvenida:#32B38C;
$color-info: #FFF;
$color-head-list: #CCC;

// grid variables
$grid-columnas: 12;
$grid-max-width: 99%;
 
 
// breakpoints
$breakpoint-320: "only screen and (min-width : 320px)";
$breakpoint-480: "only screen and (min-width : 480px)";
$breakpoint-768: "only screen and (min-width : 768px)";
$breakpoint-992: "only screen and (min-width : 992px)";
$breakpoint-1024: "only screen and (min-width : 1024px)";
$breakpoint-1200: "only screen and (min-width : 1200px)";
